@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: 'Courier Prime', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans HK', sans-serif;
}

// *{
//   cursor: none;
// }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  // color: rgb(var(--foreground-rgb));
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));

    @apply
    relative  h-auto
    font-COOL
    bg-fixed bg-gradient-to-b  from-primary-700  to-black 
}

::-moz-selection {
  background: #fbae89;
  color:black
}
::-webkit-selection {
  background: #fbae89;
  color:black
}
::selection {
  background: #fbae89;
  color:black
}


.TODO {
  @apply 
  border-2 border-dotted  border-red-500 
}

.cursor{
  @apply
  fixed top-0 left-0
  border-2  w-8 h-8  border-red-500
  pointer-events-none
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.spotlight_card{
   
  
  @apply relative
    bg-white/10  backdrop-blur	
}

// .spotlight-shadow::before{
//   content: "";
//   z-index: -1;
//   // position: absolute;
//   inset: 0;
//   filter: blur(5px);
//   animation: highlight 4s linear infinite;
//   background-size: 300% 100%;
//   background-position: 200% 100%;
//   background-color: none;  
//   display: block;
//   @apply
//   bg-gradient-to-r from-white to-primary-500
// }


// .spotlight-shadow{
//     z-index: -1;
//     animation: highlight 2s linear infinite;
//     background-size: 300% 100%;
//     background-position: 200% 0%;
//     opacity: 0.;
//     filter: blur(10px);
//     @apply bg-white 
//     absolute top-0 bottom-0 left-0  right-0
// }

